POSTGRES_DB=helpdesk
POSTGRES_USER=helpdesk
POSTGRES_PASSWORD=change-me-postgres-password
APP_SECURITY_JWT_SECRET=replace-with-a-secret-of-at-least-32-characters
APP_SECURITY_TOKEN_VALIDITY_SECONDS=3600
APP_SECURITY_ADMIN_NAME=
APP_SECURITY_ADMIN_EMAIL=
APP_SECURITY_ADMIN_PASSWORD=
APP_AI_BASE_URL=http://host.docker.internal:8000
APP_AI_PREDICT_PATH=/predict
APP_AI_TIMEOUT_SECONDS=5
APP_AI_FALLBACK_CATEGORY=Miscellaneous
APP_AI_TOP_PREDICTIONS_LIMIT=3
